<footer class="site-footer">
    <div class="wrapper">
        <h4 class="footer-heading vectorscores">{{ site.title }}</h4>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p>{{ site.description }}</p>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                {% if site.github_username %}
                    <li>
                        {% include 'icons-logos/footer-icon.html', url: 'https://github.com', username: site.github_username icon: 'github.svg' %}
                    </li>
                {% endif %}
                {% if site.twitter_username %}
                    <li>
                        {% include 'icons-logos/footer-icon.html', url:'https://twitter.com', username:site.twitter_username, icon: 'twitter.svg' %}
                    </li>
                {% endif %}
                {% if site.website %}
                    <li>
                        <a href="{{ site.website }}"><span class="username">{{ site.website | replace: 'http://', '' }}</span></a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>
