---
---
@import "mixins";
@include BravuraFont();

.cue-test {
    svg {
        display: block;
        margin: 0 auto;
    }

    button {
        display: block;
        margin: 1em auto 0;
    }
}

