dt {
    display: inline-block;
    font-weight: bold;
}
dd {
    margin: 0;
}
dt {
    margin-top: 1em;
    &:first-child {
        margin-top: 0;
    }
}
dt + dt {
    &::before {
        content: ', ';
    }
}
