/* @import "mixins"; */
/* @include BravuraFont(); */
main {
    user-select: inherit;
}
.codepoint {
    display: inline-block;
    padding: 12px;
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
}
p {
    margin: 0;
    padding: 0;
}
.symbol {
    font-size: 24px;
    font-family: Bravura;
    text-anchor: middle;
}
.unicode {
    font-size: 12px;
    font-family: Courier;
    text-anchor: middle;
}
