---
layout: page
title: Performances
permalink: /performances/
menu: true
---
<h2>Upcoming</h2>

{% for perf in site.data.performances.upcoming %}
<h4 class="perf-date"><a href="{{ perf.url }}">{{ perf.date_start | date: '%B %-d, %Y' }}</a></h4>
<h3>{{ perf.title }}</h3>

<p>
{% for work in perf.works %}
{% for pg in site.pages %}
{% if pg.title == work %}
<a href="{{ pg.url | relative_url }}" class="work-title">{{ work }}</a>
{% endif %}
{% endfor %}
{% endfor %}
</p>

<p>{{ perf.address }}</p>
<p>{{ perf.time }}, {{ perf.price }}</p>
{% endfor %}

<h2>Past</h2>

{% for perf in site.data.performances.past %}
<h4 class="perf-date"><a href="{{ perf.url }}">{{ perf.date_start | date: '%B %-d, %Y' }}</a></h4>
<h3>{{ perf.title }}</h3>

<p>
{% for work in perf.works %}
{% for pg in site.pages %}
{% if pg.title == work %}
<a href="{{ pg.url | relative_url }}" class="work-title">{{ work }}</a>
{% endif %}
{% endfor %}
{% endfor %}
</p>

<p>{{ perf.address }}</p>
<p>{{ perf.time }}, {{ perf.price }}</p>
{% endfor %}
