footer {
	border-top: 2px solid #eee;
}
button, input {
	margin: 0;
	padding: 0;
	border: 0;
	width: 3em;
	height: 3em;
	font-size: 1.5em;
	background: transparent;
	&:hover {
		outline: 2px solid #eee;
	}
	&:active, &:focus {
		outline: 2px solid #ddd;
	}
}
button {
	color: #ddd; // .disabled
	&.enabled {
		color: #000;
	}
}
input {
	text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
