$unit: 16px;
$footer-height: 4 * $unit;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}

main {
    margin: $footer-height 0;
    @include preventTapHighlight();
    @include preventUserSelect();
}

header, footer {
    position: fixed;
    left: 0;
    right: 0;
    height: $footer-height;
    margin: 0;
    box-sizing: border-box;

    font-family: $layout-font-stack;
    cursor: default;
    @include preventTapHighlight();
    @include preventUserSelect();

    background-color: $layout-color-bg;
    transition: $layout-trans-time opacity;

    &.hide {
        opacity: 0;
    }
    &.show {
        opacity: 1;
    }
}

header {
    padding: 0;
    top: 0;
	border-bottom: $layout-border;
}

footer {
    padding: 0; // $unit;
    bottom: 0;
	border-top: $layout-border;
}

h1 {
    margin: 0;
    padding: $unit;
    display: inline-block;
    box-sizing: border-box;

    font-size: $unit * 2;
    line-height: $unit * 2;
    white-space: nowrap;
    max-width: 85%;

    @media (max-width: 599px) {
        font-size: $unit;
    }
}

.score-title,
.modal-content .score-title {
    font-family: $layout-header-font-stack;
    font-style: italic;
    font-weight: bold;
}

/**
 * Set layout
 */
.work-list {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.work-title {
    font-family: $layout-header-font-stack;
    font-style: italic;
    letter-spacing: 0.2px;
    font-size: 16px;
    line-height: 1.40625;
}

@import "score/controls";
