$unit: 16px;
$footer-height: 4 * $unit;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}

main {
    margin: $footer-height 0;
    @include preventTapHighlight();
    @include preventUserSelect();
}

header, footer {
    position: fixed;
    left: 0;
    right: 0;
    height: $footer-height;
    margin: 0;
    box-sizing: border-box;

    font-family: $layout-font-stack;
    cursor: default;
    @include preventTapHighlight();
    @include preventUserSelect();

    background-color: $layout-color-bg;
    transition: $layout-trans-time opacity;

    &.hide {
        opacity: 0;
    }
    &.show { // actively keep on
        opacity: 1;
    }
    &:hover, &:active {
        opacity: 1;
    }
}

header {
    padding: $unit;
    top: 0;
	border-bottom: $layout-border;
    h1 {
        font-weight: 400;
    }
}

footer {
    padding: 0 $unit;
    bottom: 0;
	border-top: $layout-border;
}

h1, #score-info {
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
}

h1 {
    font-size: $unit * 2;
    line-height: $unit * 2;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 85%;
    @media (max-width: 599px) {
        font-size: $unit;
    }
}

#score-info {
    float: right;
    width: $unit * 2;
    height: $unit * 2;
    padding: $unit * 0.5;
    border: 2px solid $score-info-color;
    border-radius: 100%;
    cursor: pointer;
    font-size: $unit;
    line-height: $unit;
    text-align: center;
    color: $score-info-color;
    background-color: $layout-color-bg;
    transition: $score-info-trans-time background-color;

    &:hover {
        color: $layout-color-bg;
        background-color: $score-info-color;
        transition: $score-info-trans-time background-color;
    }
}

@import "score/footer-controls";
