.modal-overlay {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: $footer-height * 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    display: none;
    background: #ffffff;
    font-family: $layout-font-stack;
    font-weight: normal;
    padding: $unit;
    margin: 0 auto;
    margin-bottom: $footer-height * 2;
    max-width: 45em;
    @media screen and (max-width: 48em) {
        margin: 0 $unit;
        margin-bottom: $footer-height * 2;
    }
    border: 1px solid #888;
}

$font-size-scale: 1.125;
.modal-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $layout-header-font-stack;
        letter-spacing: -0.25px;
    }
    h4 {
        font-size: 1em * $font-size-scale;
    }
    h3 {
        font-size: 1em * $font-size-scale * $font-size-scale;
    }
    h2 {
        font-size: 1em * $font-size-scale * $font-size-scale * $font-size-scale;
    }
    h1 {
        font-size: 1em * $font-size-scale * $font-size-scale * $font-size-scale * $font-size-scale;
    }
}

.modal-close {
    color: #888888;
    float: right;
    font-size: $unit * 2;
    // font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
