#score-settings-modal {
    input[type="number"] {
        width: 3em;
        height: 2em;
        border: 1px solid #888;
        background: transparent;
    }

    button {
        font-family: Courier, monospace;
        margin: 0;
        padding: 0.5em;
        border: 1px solid #888;
        background: transparent;
    }
}
