---
---
h3, p { text-align: center; }
p.button {
    margin: 1em;
    padding: 1em;
    background: #eee;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none;
}
p.button:hover {
    background: #ddd;
}
p.button, div.chart div {
    font-size: 1.5em;
}
$bar-width: 40px;

.chart {
    margin: 0 auto;
    width: ($bar-width + 2px) * 5;
}
.chart div {
  background-color: #ddd;
  text-align: center;
  width: $bar-width;
  margin: 1px;
}
