#score-options-modal input[type="number"] {
  width: 3em;
  height: 2em;
  border: 1px solid #888;
  background: transparent;
}

#score-options-modal button {
  font-family: Courier, monospace;
  margin: 0;
  padding: 0.5em;
  border: 1px solid #888;
  background: transparent;
}

.settings-group {
  margin: 1em 0;
}

.settings-group label {
  display: block;
}
