text {
  font-family: 'Monaco', Courier, sans-serif;
  font-size: 12px;
  fill: black;
}

.globject-path {
  stroke: #888;
  stroke-width: 1;
  fill: none;
}

.globject-content text {
  font-family: Bravura;
  font-size: 24px;
}

.debug g {
  outline: 1px dotted red;
}

.debug rect,
.debug circle {
  stroke: pink;
  fill-opacity: 0;
}
