---
---
$t-time: 1s;

main {
	padding: 8px;
}
.event-span {
	font-family: Courier;
	display: inline-block;
	padding: 0.5em;
	margin: 6px;
	border: 2px solid #eee;
	border-radius: 20px;
	transition: border-radius $t-time, border-color $t-time;
	&.box {
		border-radius: 0px;
		transition: border-radius $t-time;
	}
}
.active {
	border-color: rgba(0, 255, 0, 0.75);
	transition: border-color $t-time;
}
.other {
	border-color: rgba(0, 0, 255, 0.75);
	transition: border-color $t-time;
}

.ws, .ws h3 {
	font-family: Courier;
}
