---
---

@import "mixins";
@include BravuraFont();

.debug {
    rect, circle {
        stroke: pink;
        fill-opacity: 0;
    }
    path {
        fill: #111;
        stroke: #111;
    }
}

.globule {
    font-family: Bravura;
    font-size: 36px;
    fill: #111;
    text-anchor: start;
}

.pc-set {
    font-family: monospace;
    font-size: 16px;
    fill: #111;
    text-anchor: middle;
}
