---
---
$highlight-color: blue;

body {
	font-family: monospace;
}

.tutorial-message {
	font-size: 16px;
	line-height: 2;
	padding: 16px;
}

p {
	margin: 0;
}

.highlight {
	outline: 1px solid $highlight-color;
}
