---
---

@import "mixins";
@include BravuraFont();

.globject {
    .globject-path {
        stroke: #888;
        stroke-width: 1;
        fill: none;
    }

    .pitch-class {
        font-family: monospace;
    }
    .modifier {
        font-family: Bravura;
    }
}

.percussion-parts text {
    font-family: Bravura;
    font-size: 24px;
}

.duration-text {
    font-family: monospace;
    font-size: 16px;
}

.tempo-text tspan {
    font-size: 16px;

    &.bpm {
        font-family: monospace;
    }
}
