---
---

@import "mixins";
@include BravuraFont();

.globject {
    .globject-path {
        stroke: #888;
        stroke-width: 1;
        fill: none;
    }
}

.percussion-parts text {
    font-family: Bravura;
    font-size: 24px;
}
