<footer class="site-footer">

  <div class="wrapper">

    <noscript>
        <div class="noscript"><u>/!\</u> vectorscor.es requires JavaScript</div>
        {% comment %}<!--Include helpful links here, including finished PDFs, when ready-->{% endcomment %}
    </noscript>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <h2 class="footer-heading">{{ site.title }}</h2>
          <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icons-logos/github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icons-logos/twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.website %}
          <li>
              <a href="{{ site.website }}"><span class="username">{{ site.website | replace: 'http://','' }}</span></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div> -->
    </div>

  </div>

</footer>
