.main {
    /*margin: 0 auto;*/
    /*display: block;*/
}

/*debug*/
rect, circle {
    stroke: pink;
    fill-opacity: 0;
}

path {
    fill: #111;
    stroke: #111;
}

text {
    font-family: monospace;
    fill: #111;
    text-anchor: middle;
}
