@mixin preventTapHighlight() {
    -webkit-tap-highlight-color: rgba(0,0,0,0); // prevent iOS flash on tap
}

@mixin preventUserSelect() {
    -webkit-user-select: none; // Chrome, Safari
    -moz-user-select: none; // Firefox
    -ms-user-select: none; // IE 10+
    user-select: none;
}

@mixin textShadowOutline() {
    text-shadow:
        0 -1px 1px white,
        1px 0 1px white,
        0 1px 1px white,
        -1px 0 1px white;
}

@mixin BravuraFont() {
    @font-face {
        font-family: Bravura;
        src: url(../../fonts/Bravura.woff) format('woff');
    }
}
