---
---
div.position-controls {
    padding: 0 25%;
    div {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
    }
}
circle {
    fill: none;
    stroke: black;
}
path {
    stroke: black;
}
.performer {
    stroke: blue;
}

// .angle-control
label {
    display: block;
    font-size: 16px;
    font-family: monospace;
    padding-bottom: 8px;
}
input#performer-angle {
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-family: monospace;
}
