---
---
div.angle-control {
    text-align: center;
}
label {
    display: block;
    font-family: sans-serif;;
}

circle {
    fill: none;
    stroke: black;
    &.performer {
        stroke: blue;
    }
}

path {
    stroke: black;
}