@import url("score/variables.css");

/*
@import "mixins";
@import "score/layout";
@import "score/controls";
@import "score/modal";
@import "score/main";
@import "score/settings";
@import "work-list";

.score-set .work-list {
    margin: 0;
    padding: $unit (2 * $unit);

    list-style: none;
}

.score-set #score-header {
    opacity: 1;
}
*/
