.card rect {
  fill: none;
  stroke: #888;
  stroke-width: 1px;

  /*
  shape-rendering: geometricPrecision;
  shape-rendering: crispEdges;
  */
}

.card text {
  fill: #111;
}

.card text.pitch-class-set {
  font-size: 12px;
  font-family: monospace;
}

.card text.dynamics {
  font-size: 24px;
  font-family: Bravura;
}

.card text.duration {
  font-size: 24px;
  font-family: Bravura;
}
