{% if page.info or page.info_file or page.settings %}
<div id="score-modal-overlay" class="modal-overlay">

{% if page.info or page.info_file %}
    <div id="score-info-modal" class="modal-content">
        <span id="score-info-close" class="modal-close">×</span>
        <h2>{{ page.title }}</h2>
        <p>
            {{ page.composer }}
            {% if page.publish_date %}({{ page.publish_date}}){% endif %}
        </p>
        <p>
            {{ page.dedication }}
        </p>
        {% if page.info %}
        <div>
            {{ page.info }}
        </div>
        {% else if page.info_file %}
            {% capture info_include %}{% include_relative {{ page.info_file }} %}{% endcapture %}
            {{ info_include | markdownify }}
        {% endif %}
    </div>
{% endif %}

{% if page.settings %}
    <div id="score-settings-modal" class="modal-content">
        <span id="score-settings-close" class="modal-close">×</span>
        <h2>Settings</h2>
        <p>
            {{ page.settings }}
        </p>
    </div>
{% endif %}

</div>
{% endif %}
