---
---

@import "mixins";
@include BravuraFont();

/**
 * Cards
 */
.card {
    rect {
      fill: none;
      stroke: #888;
      stroke-width: 1px;
      /*shape-rendering: geometricPrecision;*/
      /*shape-rendering: crispEdges;*/
    }

    .barline {
      stroke: #888;
      stroke-width: 1px;
    }

    text {
        fill: #111;
    }
}

/**
 * Card meta
 */
.monospace {
    font-family: monospace;
    font-size: 12px;
}

.card {
    .card-duration, {
        @extend .monospace;
    }

    .card-timbre, {
        @extend .monospace;
        font-style: italic;
    }

    .pitch-class-set {
        @extend .monospace;
    }
}

/**
 * Card content
 */
.bravura {
    font-size: 24px;
    font-family: Bravura;
}

.card {
    .dynamics text {
        @extend .bravura;
    }

    .duration {
        @extend .bravura;
    }

    .chord,
    .chord-flag,
    .chord-art,
    .time-sig,
    .lnp {
        @extend .bravura;
    }

    .chord-fermata {
        @extend .bravura;
        text-anchor: middle;
    }
}

//
// _info
//
.modal-content a[target="_blank"],
.modal-content a[target="VS_glossary"] {
    padding-right: 0.4em;
    &::after {
        content: '°';
        position: absolute;
    }
}

.modal-content {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        padding-bottom: 1em;
    }
}
@import "description-list";
