---
---

@import "mixins";
@include BravuraFont();

.card rect {
  fill: none;
  stroke: #888;
  stroke-width: 1px;
  /*shape-rendering: geometricPrecision;*/
  /*shape-rendering: crispEdges;*/
}

.card text {
    fill: #111;
}

.card text.pitch-class-set {
    font-size: 12px;
    font-family: monospace;
}

.card .dynamics text {
    font-size: 24px;
    font-family: Bravura;
}

.card text.duration {
    font-size: 24px;
    font-family: Bravura;
}

.card .chord,
.card .chord-fermata, {
    text-anchor: middle;
    font-size: 24px;
    font-family: Bravura;
}
.card .chord-flag {
    font-size: 24px;
    font-family: Bravura;
}

.card .lnp {
    font-size: 24px;
    font-family: Bravura;
}
