---
---
@import "mixins";
@include BravuraFont();

g {
    cursor: pointer;
}

rect {
    stroke: black;
    stroke-width: 1px;
    fill: white;
}

text {
    pointer-events: none; // prevent accidental click on line-height outside rect
}
.monospace {
    font-family: Courier;
    font-size: 12px;
}

.bravura {
    text-anchor: middle;
    font-family: Bravura;
    font-size: 22px;
    line-height: 22px;
}
