---
---
@font-face {
    font-family: Bravura;
    src: url(../../fonts/Bravura.woff);
}

main, svg {
    overflow-x: hidden;
}

.pitch-range,
.durations {
    font-family: 'Bravura';
}

.durations {
    font-size: 21px;
}

.timbre {
    font-family: serif;
    font-style: italic;
}

line[class^="debug-center"] {
    stroke: red;
}
