---
---
@font-face {
    font-family: Bravura;
    src: url(../../fonts/Bravura.woff);
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
main, svg.main {
    overflow-x: hidden;
}

.layout {
    line {
        stroke: black;
        stroke-opacity: 0.25;
    }
    text {
        font-family: serif;
        &.duration {
            font-style: italic;
        }
    }
    rect {
        fill: none;
        stroke: black;
    }
}

.pitch-range,
.durations,
.dynamics {
    font-family: 'Bravura';
}

.durations,
.dynamics {
    font-size: 21px;
}

.timbre {
    font-family: serif;
    font-style: italic;
    font-size: 15px;
}

line[class^="debug-center"] {
    stroke: red;
}
