.score-button, #score-pointer {
    margin: 0;
    padding: 0;
    border: 0;
    width: $footer-height;
    max-width: 20%; // for mobile--move input to settings modal
    height: $footer-height - 2px;
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
}

.score-button {
    &:hover {
        outline: 2px solid $layout-color-light;
    }
    &:active, &:focus {
        outline: 2px solid #ddd;
    }

    &:disabled {
        g {
            stroke: #ddd;
        }
    }
    svg {
        width: 16px;
        height: 16px;
        g {
            stroke: #000;
            stroke-width: 10;
            fill: none;
            &.hide { // for play/pause
                display: none;
            }
        }
    }
}

#score-pointer {
    vertical-align: top;
    font-size: 18px;
    padding-bottom: 4px;

    @media (max-width: $footer-height * 6) {
        display: none;
    }
}

input {
    font-family: $layout-font-stack;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#score-info-open {
    float: right;

    font-family: $layout-font-stack;
    font-size: $unit;
}

#score-settings-open {
    float: right;
}
