text {
    font-family: 'Monaco', Courier, sans-serif;
    font-size: 12px;
    fill: black;
}

path.globject {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.debug g {
    outline: 1px dotted red;
}

/*debug*/
rect, circle {
    stroke: pink;
    fill-opacity: 0;
}
