---
---
@font-face {
    font-family: Bravura;
    src: url(../../fonts/Bravura.woff);
}

text {
    font-family: 'Monaco', Courier, sans-serif;
    font-size: 12px;
    fill: black;
}

path.globject {
    stroke: #888;
    stroke-width: 1;
    fill: none;
}
.globstuff text {
    font-family: Bravura;
    font-size: 24px;
}

.debug g {
    outline: 1px dotted red;
}

/*debug*/
.debug rect, .debug circle {
    stroke: pink;
    fill-opacity: 0;
}
