---
layout: compress
---
{% assign dirs_to_root = page.url | split: '/' | size | minus: 1 %}
{% capture assets_url %}{% for i in (1..dirs_to_root) %}../{% endfor %}assets{% endcapture %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/css/score.css' | prepend: assets_url }}">
    {% if page.inline_bravura %}<link rel="stylesheet" href="{{ '/fonts/Bravura-woff.css' | prepend: assets_url }}">{% endif %}
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {% include score/header.html %}
    <main>
        <svg class="main"></svg>
        {{ content }}
    </main>
    {% include score/footer.html %}
    {% include score/modals.html %}
    {% include score/scripts.html %}
    <script src="index.js" charset="utf-8"></script>
</body>
</html>
