---
layout: compress
---
{% assign assets_url = site.assetsurl | prepend: site.baseurl %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/css/score.css' | prepend: assets_url }}">
</head>
<body class="score-set">
    {% include score/header.html %}
    <main>
        {{ content }}

        {% assign set_path = page.path | remove: page.name %}

        <ul class="work-list">
            {% include work-list/loop.html layout_contains='movement' filter_by='path' filter_contains=set_path tag='li' %}
        </ul>
    </main>
    {% include score/modals.html %}
    {% include score/scripts.html %}
</body>
</html>
