@font-face {
    font-family: Bravura;
    src: url(../../fonts/Bravura.woff);
}

.card rect {
  fill: none;
  stroke: #888;
  stroke-width: 1px;
  /*shape-rendering: geometricPrecision;*/
  /*shape-rendering: crispEdges;*/
}

.card text.dynamics {
  fill: #444;
  font-size: 24px;
  font-family: Bravura;
  text-anchor: middle;
}
