---
---

@import "mixins";
@include BravuraFont();

main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

text {
    font-family: 'Monaco', Courier, sans-serif;
    font-size: 12px;
    fill: black;
}

.globject {
    .rangePath {
        stroke: none;
        fill: none;
    }
    .globstuff text {
        font-family: Bravura;
        font-size: 24px;
    }
}
