---
---

@import "mixins";
@include BravuraFont();

text {
    font-family: 'Monaco', Courier, sans-serif;
    font-size: 12px;
    fill: black;
}

.globject {
    .rangePath {
        stroke: #888;
        stroke-width: 1;
        stroke-dasharray: 5,5;
        fill: none;
    }
    .globstuff text {
        font-family: Bravura;
        font-size: 24px;
    }
}
